
/*FUENTE LETRA QUE SE APLICO EN BODY*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');

/*FUENTE LETRA PARA MAYUSCULAS*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

:root{
    --c-principal: green;
    --c-secundario: blue;
}

/*TITULO*/
header{
   display: flex;
   justify-content: space-between;
    
}

.fa-facebook-square{
    font-size: 32px;
    color: black;
    position: absolute;
    bottom: 32px;
    right: 32px;

}


/*TITULOS*/
h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
}
body{
    font-family: 'Roboto', sans-serif;
}

/*ESTILOS MENU*/
a{
    color: var(--c-principal)
}
a:link{
    text-decoration: none;
}

a:hover{
    color: blue;
    text-decoration: underline;
}
a:active{
    color: black;
}

/*UBICA MENU ARRIBA A LA DERECHA*/
.label-menu{
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 1;
}

/*OCULTA EL CHECK*/
.check-menu{
    display: none;
}

/*TRAE EL MENU A SU UBICACION ORIGINAL AL OPRIMIR EL MENU*/
.check-menu:checked + div{
    transform: translate(0);
}

/*OCULTA EL MENU EN ESA UBICACION*/
.enlaces-menu {
    
    display: flex;
    flex-direction: column;
    transform: translateY(-200%);
    transition: all 1000ms ease-in-out;
}

/*CUANDO EL DISPOSITIVO TIENE MINIMO 768PX OCULTA EL MENU Y DEJA LOS ENLACES*/
@media screen and (min-width: 768px){
    .label-menu{
        display: none;
    }
    .enlaces-menu{
        flex-direction: row;
        justify-content: space-evenly;
        transform: translateX(0);
}

}

/*CUANDO EL DISPOSITIVO TIENE MINIMO 1024PX OCULTA EL MENU Y DEJA LOS ENLACES*/
@media screen and (min-width: 1024px){
    .enlaces-menu{
        justify-content: end;
        gap: 20px;
    }
}




    

